/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html>body {
  font-family: "Pretendard", sans-serif;
}

.font-en-serif {
  font-family: "Playfair Display", serif;
}

/* normallize */
body,
ul,
li,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

/* custom */